.main {
  display: flex;
}

.inputContainer {
  flex: 5;
}

.urlLabel {
  font-weight: bolder;
}

.urlInput {
  outline: none;
  border: 2px solid #000;
  border-radius: 5px;
  width: 250px;
  padding-left: 15px;
  margin-left: 15px;
}

.button {
  font-weight: 600;
  border: 1px solid #000;
  /* cursor: pointer; */
  margin-left: 15px;
  border-radius: 10px;
  padding: 4px 15px 4px 15px;
  background-color: #ccc;
}

.button:hover {
  background-color: #c4bdbd;
  cursor: pointer;
}

.allUrls {
  flex: 5;
}
